#containerTimer {
    color: rgb(245, 245, 245);
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
  }

div#containerTimer li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
div#containerTimer li span {
    display: block;
    font-size: 4.5rem;
  }